section.about-block.layout.clearfix
	h2.about-block__title Белая руза
	.about-block__text <p><strong>Это охраняемый коттеджный посёлок на новорижксом шоссе площадью 35 гектар, где можно просто купить себе дачу</strong></p> <p>Внутри коттеджного поселка созданы каскадные пруды с природными перешейками, вокруг которых располагается зона отдыхас лавочками и древним родником. А для детей предусмотрена современная детская площадка с игровыми конструкциями</p>
	.about-block-item
		.about-block-item__icon.icon-1
		.about-block-item__title Пруды <span>в поселкe</span>
	.about-block-item
		.about-block-item__icon.icon-2
		.about-block-item__title Озеро <span>5 км</span>
	.about-block-item
		.about-block-item__icon.icon-3
		.about-block-item__title Железная дорога <span>15 км</span>
	.about-block-item
		.about-block-item__icon.icon-4
		.about-block-item__title Водо&shy;хранилище <span>17 км</span>
	.about-block-item
		.about-block-item__icon.icon-5
		.about-block-item__title Река Руза <span>24 км</span>
	.about-block-item
		.about-block-item__icon.icon-6
		.about-block-item__title Истра <span>46км</span>
