section.area.layout.clearfix
	img(src="styles/default/css/img/area.png").area__img
	.area__share
		img(src="styles/default/css/icons/area-share.png")
		| Поделиться
	a(href).area__mailto
		img(src="styles/default/css/icons/area-mailto.png")
		| В почту
