section.conception.layout
	h2.conception__title Концепция посёлка
	.conception__text <p><strong>Коттеджный поселок на Новой Риге «Белая Руза» является продолжением современной деревни «Бородёнки», где есть парк, водоёмы и дорожки для прогулок</strong></p> <p>На территории самого поселка обустроены три пруда с беседками для рыбалки и зоной отдыха для барбекю. А в 17 км от нас находится живописное озерниское водохранилище, на песчаном берегу которого оборудован пляж, прокат гидроциклов, кафе, пирс, парковка и детская площадка.</p>
