section.goods.layout.clearfix
	h2.goods__title Почему <span>у нас хорошо</span>
	.goods-item
		.goods-item__icon.icon-1
		.goods-item__title посёлок уже населён
	.goods-item
		.goods-item__icon.icon-2
		.goods-item__title готовые коттеджи под ключ
	.goods-item
		.goods-item__icon.icon-3
		.goods-item__title круглосуточная охрана
	.goods-item
		.goods-item__icon.icon-4
		.goods-item__title водоснабжение на участке
	.goods-item
		.goods-item__icon.icon-5
		.goods-item__title проложенные дороги
	.goods-item
		.goods-item__icon.icon-6
		.goods-item__title электричество в домах
	.goods-item
		.goods-item__icon.icon-7
		.goods-item__title высокие заборы
