section.header.layout.clearfix
	.header-adress Новорижское шоссе, <br>65 км от МКАД
	.header-logo
		a(href="/").header-logo__link
			img(src="styles/default/css/img/logo.png").header-logo__img
	a(href="tel:+74951234567").header-phone +7 (495) <strong>123-45-67</strong>
section.subheader.layout.clearfix
	.subheader-burger.toggle-button
		img(src="styles/default/css/icons/burger.png").subheader-burger__img
	.subheader-logo
		a(href="/").sybheader-logo__link
			img(src="styles/default/css/img/belayaruza.png").subheader-logo__img
	.subheader-contact__message
