section.header-project-fixed.clearfix
	.header-project-fixed-back
		a(href="proekty-domov.html").header-project-fixed-back__link
	.header-project-fixed__title Байкал
	.clearfix
	.header-project-fixed-info
		ul
			li.header-project-fixed-info__item 181
			li.header-project-fixed-info__item 3
			li.header-project-fixed-info__item 2
