section.header-fixed.clearfix
	.header-fixed-burger.toggle-button-fixed
		img(src="styles/default/css/icons/burger.png").header-fixed-burger__img
	.header-fixed-logo
		a(href="/").header-fixed-logo__link
			img(src="styles/default/css/img/logo.png").header-fixed-logo__img
	.header-fixed-contact
		.header-fixed-contact__phone
			a(href="").header-fixed-contact__link
				img(src="styles/default/css/icons/header-fixed-phone.png").header-fixed-contact__img
		.header-fixed-contact__message
