section.home-screen.layout
	h1.home-screen__title <span>Котеджный поселок</span> на новой риге
	.home-screen-offer
		.home-screen-offer__title Готовый дом <span>с участком и коммуникациями</span>
		.home-screen-offer__price от 5 млн. руб.
	.home-screen-description готовый дом с участком, газом, водоснабжением, канализацией и электричеством
