section.houses.layout
	.houses-item.clearfix
		.houses-item__thumbnail
			a(href="house.html")
				img(src="styles/default/css/img/houses-item-1.png").houses-item__img
			.houses-item__payment Рассрочка - 10 лет
			.houses-item__area 81<span>м<sup>2</sup></span>
		.houses-item__info
			.houses-item__title Владение 89
			.houses-item__price 5 600 000&nbsp;<span>a</span>
		.houses-item__sector Участок 11,34 соток
	.houses-item.clearfix
		.houses-item__thumbnail
			a(href="house.html")
				img(src="styles/default/css/img/houses-item-2.png").houses-item__img
			.houses-item__payment Рассрочка - 10 лет
			.houses-item__area 98<span>м<sup>2</sup></span>
		.houses-item__info
			.houses-item__title Владение 156
			.houses-item__price 3 800 000&nbsp;<span>a</span>
		.houses-item__sector Участок 12,344 соток
	.houses-item.clearfix
		.houses-item__thumbnail
			a(href="house.html")
				img(src="styles/default/css/img/houses-item-3.png").houses-item__img
			.houses-item__payment Рассрочка - 10 лет
			.houses-item__area 45<span>м<sup>2</sup></span>
		.houses-item__info
			.houses-item__title Владение 157
			.houses-item__price 4 900 000&nbsp;<span>a</span>
		.houses-item__sector Участок 11,67 соток
	button.houses__button Показать еще
