section.location.layout.clearfix
	h2.location__title Расположение поселка
	.location-map <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ooPt9RCYa4Xf_8bkV-ZzzZNUnolmwos7&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
		//.location__comment От МКАДа до Белой Рузы вы добираетесь без светофоров! Вообще!
	#location-map
	.location-share.clearfix
		.location-share__item
			.location-share__social
				img(src="styles/default/css/icons/area-share.png")
				| Поделиться
		.location-share__item
			a(href).location-share__mailto
				img(src="styles/default/css/icons/area-mailto.png")
				| В почту
		.location-share__item
			.location-share__navigator
				img(src="styles/default/css/icons/location-share-navigator.png")
				| Поделиться
	.location__comment От МКАДа до Белой Рузы вы добираетесь без светофоров! Вообще!
