section.popup-form
	.popup-form__close
	.popup-form__title Будьте в курсе событий о вашем доме
	form(action="/")
		input(type="text" placeholder="Ваше имя").popup-form__input
		input(type="text" placeholder="Ваш телефон").popup-form__input
		input(type="textarea" placeholder="Ваш комментарий").popup-form__textarea
		button(type="submit").popup-form__submit Оставить запрос
