section.projects.clearfix
	.projects-item.clearfix
		.projects-item__thumbnail
			a(href="project.html")
				img(src="styles/default/css/img/houses-item-1.png").projects-item__img
			.projects-item__floors 2<span>этажа</span>
		.projects-item-info
			.projects-item-info__title Валдай <span>117 м<sup>2</sup></span>
		.projects-item-rooms
			ul
				li.projects-item-rooms__item Спален: <strong>2</strong>
				li.projects-item-rooms__item Ванных комнат: <strong>5</strong>
	.projects-item.clearfix
		.projects-item__thumbnail
			a(href="project.html")
				img(src="styles/default/css/img/houses-item-1.png").projects-item__img
			.projects-item__floors 4<span>этажа</span>
		.projects-item-info
			.projects-item-info__title Каспий <span>117 м<sup>2</sup></span>
		.projects-item-rooms
			ul
				li.projects-item-rooms__item Спален: <strong>3</strong>
				li.projects-item-rooms__item Ванных комнат: <strong>5</strong>
	.projects-item.clearfix
		.projects-item__thumbnail
			a(href="project.html")
				img(src="styles/default/css/img/houses-item-1.png").projects-item__img
			.projects-item__floors 3<span>этажа</span>
		.projects-item-info
			.projects-item-info__title Ладога <span>117 м<sup>2</sup></span>
		.projects-item-rooms
			ul
				li.projects-item-rooms__item Спален: <strong>4</strong>
				li.projects-item-rooms__item Ванных комнат: <strong>5</strong>
