script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="styles/default/js-libs/jquery-touch-swipe/jquery.touchSwipe.min.js")
script(src="styles/default/js-libs/owl-carousel/owl.carousel.js")
script(src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.9/goodshare.min.js")
script(src="styles/default/js/main.js")
