nav#menu.swipe-menu
	.swipe-menu-logo
	.swipe-menu-nav
		ul
			li.swipe-menu-nav__item
				a(href="conception.html").swipe-menu-nav__link Концепция поселка
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link Рядом
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link Проекты домов
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link План поселка
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link Акции
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link Новости
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link Документы
			li.swipe-menu-nav__item
				a(href="").swipe-menu-nav__link Контакты
	.swipe-menu-info Коттеджный поселок «Белая Руза» Новорижское шоссе, 65 км от МКАД
	.swipe-menu-contact
		.swipe-menu-contact__phone
		.swipe-menu-contact__message
