@import url('fonts/opensans/font.css') // Open Sans
@import url('fonts/alsrouble/font.css') // ALS Rubl
@import url('fonts/andantinoscript/font.css') // Andantino
@import url('fonts/daxline/font.css') // Daxline Pro
@import url('fonts/daxlinecyr/font.css') // Daxline Cyr
$color = #0490d7

html
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	font-family 'Open Sans'
	line-height 1.414
body
	padding 0
	margin 0
	background #fff
.clearfix:after
	content "."
	display block
	height 0
	visibility hidden
	clear both
.layout
	min-width 320px
	max-width 960px
	margin 0 auto
	padding 20px
	box-sizing border-box
	position relative


/* ------------ UI ------------ */

img
	max-width 100%
	width auto
ul,li
	margin 0
	padding 0
/* ------------ Шапка ------------ */

.header
	background-image url(img/grass.png)
.header-adress
	color #fff
	font-size 0.875rem
	width 34%
	float left
.header-phone
	width 30%
	float right
	color #fff
	&:before
		content ""
		display inline-block
		background url(icons/phone_icon.png)
		background-repeat no-repeat
		background-size contain
		background-position center center
		width 20px
		height 20px
		vertical-align middle
		margin-right 5px
	strong
		font-weight 600
.header-logo
	width 30%
	float left
	text-align center
	position relative
	z-index 10
.subheader
	background #fff
	margin-top -35px
	z-index 1
.subheader-burger
	cursor pointer
	float left
	width 10%
	margin-top -2px
.subheader-logo
	text-align center
	float left
	width 80%
	margin-top -5px
.subheader-mailto
	float right
	width 10%
	text-align right


/* ------------ Фикс-шапка ------------ */

.header-fixed
	background #fff
	box-shadow 0px 0px 15px 5px rgba(0, 0, 0, 0.1)
	position fixed
	display block
	width 100%
	top -90px
	z-index 10
	transition-duration .3s
.header-fixed-burger
	float left
	width 30%
	cursor pointer
.header-fixed-logo
	float left
	width 40%
	text-align center
	margin-top -15px
	margin-bottom -45px
.header-fixed-logo__img
	width 70px
.header-fixed-contact
	float right
	width 30%
	text-align right
.header-fixed-contact__phone
	display inline-block
	vertical-align middle
	margin-right 15px
.header-fixed-contact__mailto
	display inline-block
	vertical-align middle

/* ------------ Меню ------------ */
.swipe-menu
	background $color
	color #fff
	box-sizing border-box
	display none
.swipe-menu-logo
	width 170px
	height 50px
	margin-top 20px
	margin-left 20px
	background-image url(icons/swipe-menu-logo.png)
	background-repeat no-repeat
.swipe-menu-nav
	color #fff
	padding 20px
	box-sizing border-box
	border-top 1px solid rgba(255,255,255,0.3)
.swipe-menu-nav__item
	list-style-type none
	margin-bottom 15px
	&:last-child
		margin-bottom 0
.swipe-menu-nav__link
	text-decoration none
	color #fff
.swipe-menu-info
	color #fff
	padding 20px
	font-size .85rem
	border-top 1px solid rgba(255,255,255,0.3)
	box-sizing border-box
.swipe-menu-contact
	padding 20px
	border-top 1px solid rgba(255,255,255,0.3)
.swipe-menu-contact__phone
	display inline-block
	background url(icons/phone_icon.png)
	background-repeat no-repeat
	background-position center center
	width 30px
	height 30px
	vertical-align middle
	margin-right 30px
.swipe-menu-contact__message
	display inline-block
	background url(icons/swipe-menu-contact__message.png)
	background-repeat no-repeat
	background-position center center
	width 30px
	height 30px
	vertical-align middle


/* ------------ Хоум-скрин ------------ */

.home-screen
	background-image url(img/home-screen.png)
	background-size cover
	background-position center center
	text-align center
	&:after
		content ""
		position absolute
		display block
		width 100%
		height 175px
		z-index 0
		margin-left -20px
		bottom 0
		background $color
		opacity .6
.home-screen__title
	font-size 1.75rem
	margin 0
	color $color
	font-family 'Daxline Cyr'
	text-transform uppercase
	letter-spacing 2px
.home-screen__title
	span
		display block
		letter-spacing 0px
		font-family 'Andantino'
		font-weight normal
		font-size 2.25rem
		text-transform none
		color #000
	&:after
		content ""
		display block
		width 240px
		margin 0 auto
		margin-top 10px
		height 16px
		background-image url(icons/waves.png)
		background-size contain
		background-repeat no-repeat
.home-screen-offer
	width 260px
	height 150px
	margin 0 auto
	margin-top 100px
	padding 30px 10px
	box-sizing border-box
	background-image url(img/home-screen-offer.png)
	background-size contain
	background-repeat no-repeat
	z-index 2
	position relative
.home-screen-offer__title
	font-size 1.5rem
	font-weight bold
	color $color
	font-family 'Daxline Cyr'
	text-transform uppercase
	letter-spacing 2px
	margin-top 5px
	span
		font-size 0.80rem
		margin-top -3px
		font-weight normal
		display block
		text-transform none
		letter-spacing 0px
.home-screen-offer__price
	font-family 'Andantino'
	font-weight normal
	font-size 2.5rem
	margin-top -17px
.home-screen-description
	font-size 0.82rem
	font-weight bold
	color #fff
	font-family 'Daxline Cyr'
	text-transform uppercase
	letter-spacing 2px
	margin-top 15px
	margin-bottom 15px
	z-index 1
	position relative

/* ------------ Блок-инфо ------------ */

.info-block
	text-align center
	background #fff
.info-block__item
	margin-top 40px
.info-block__text
	margin 0 auto
	margin-top 15px
	max-width 480px


/* ------------ Дома ------------ */
.houses
	background #cdb68b
	margin-top 30px
.houses-item
	margin-bottom 30px
	@media (min-width: 480px)
		width 48%
		float left
		margin-top 0px
		&:nth-child(2n)
			float right
	@media (min-width: 840px)
		width 32%
		margin-right 2%
		float left
		margin-top 0px
		&:nth-child(2n)
			float left
		&:nth-child(3n)
			float right
			margin-right 0%
.houses-item__thumbnail
	position relative
.houses-item__img
	width 100%
.houses-item__payment
	position absolute
	top 20px
	background rgba(255,255,255,0.7)
	border-radius 0 5px 5px 0
	padding 10px 15px
.houses-item__area
	position absolute
	bottom 20px
	right 20px
	background $color
	color #fff
	font-size 1.55rem
	padding 5px
	border-radius 50%
	width 60px
	height 60px
	box-sizing border-box
	text-align center
.houses-item__area
	span
		margin-top -7px
		display block
		font-size .75rem
.houses-item__info
	width 50%
	float left
	margin-top 10px
.houses-item__sector
	float right
	width 50%
	margin-top 10px
	text-align right
.houses-item__price
	font-size 1.5rem
	font-weight bold
	span
		font-family ALS Rubl
.houses__button
	background $color
	color #fff
	border none
	border-radius 5px
	padding 10px
	width 100%
	cursor pointer
	font-size 1.25rem
	text-align center
	display block



/* ------------ Территория ------------ */

.area__img
	width 100%
.area__share
	background $color
	color #fff
	padding 10px
	box-sizing border-box
	text-align center
	width 49%
	float left
	margin-top 15px
	img
		display block
		margin 0 auto
.area__mailto
	background $color
	display block
	text-decoration none
	color #fff
	padding 10px
	box-sizing border-box
	text-align center
	width 49%
	float right
	margin-top 15px
	img
		display block
		margin 0 auto



/* ------------ Почему у нас хорошо ------------ */
.goods
	background #e4d7c0
.goods__title
	text-align center
	font-size 1.25rem
	margin 0
	text-transform uppercase
	letter-spacing 2px
	span
		color #47730e
.goods-item
	float left
	width 50%
	height 140px
	margin-top 30px
	@media (min-width: 840px)
		width 32%
		margin-right 2%
		float left
		&:nth-child(2n)
			float left
		&:nth-child(3n)
			float right
			margin-right 0%
.goods-item__icon
	display block
	width 100%
	height 90px
.goods-item__icon.icon-1
	background url(icons/goods-item__icon-1.png)
	background-repeat no-repeat
	background-position center center
.goods-item__icon.icon-2
	background url(icons/goods-item__icon-2.png)
	background-repeat no-repeat
	background-position center center
.goods-item__icon.icon-3
	background url(icons/goods-item__icon-3.png)
	background-repeat no-repeat
	background-position center center
.goods-item__icon.icon-4
	background url(icons/goods-item__icon-4.png)
	background-repeat no-repeat
	background-position center center
.goods-item__icon.icon-5
	background url(icons/goods-item__icon-5.png)
	background-repeat no-repeat
	background-position center center
.goods-item__icon.icon-6
	background url(icons/goods-item__icon-6.png)
	background-repeat no-repeat
	background-position center center
.goods-item__icon.icon-7
	background url(icons/goods-item__icon-7.png)
	background-repeat no-repeat
	background-position center center
.goods-item__title
	text-align center
	text-transform uppercase
	letter-spacing 1px
	margin-top 10px
	font-size 0.75rem
	font-weight bold

/* ------------ Расположение ------------ */

.location
	background-image url(img/grass.png)
.location__title
	text-align center
	font-size 1.25rem
	margin 0
	text-transform uppercase
	letter-spacing 2px
	color #fff
.location-map
	position relative
	margin-top 20px
	z-index 2
	display none
#location-map
	width 100%
	height 400px
	position relative
	margin-top 20px
	z-index 2
.location-share
	margin-top 20px
	&:before
		content ""
		display block
		position absolute
		width 100%
		height 150px
		background #e4d7c0
		margin-left -20px
		margin-top -70px
		z-index 0
.location-share__item
	position relative
	padding 10px
	width 32%
	margin-right 2%
	float left
	background $color
	color #fff
	text-align center
	box-sizing border-box
	font-size 0.75rem
	height 60px
	img
		display block
		margin 0 auto
		margin-bottom 5px
.location-share__item
	&:last-child
		margin-right 0
		float right
.location-share__mailto
	display block
	text-decoration none
	color #fff
.location__comment
	position relative
	display block
	box-sizing border-box
	color #fff
	margin-top 40px
	width 100%
	text-align center
	font-size 1rem


/* ------------ О поселке ------------ */

.about-block
	padding-top 30px
	padding-bottom 30px
	background #e4d7c0
	text-align center
.about-block__title
	text-align center
	font-size 1.5rem
	margin 0
	text-transform uppercase
	letter-spacing 2px
	color #47730e
.about-block__text
	max-width 640px
	margin 0 auto
	strong
		font-weight 600
.about-block-item
	float left
	width 50%
	height 160px
	margin-bottom 20px
	@media (min-width: 840px)
		width 32%
		margin-right 2%
		float left
		&:nth-child(2n)
			float left
		&:nth-child(3n)
			float right
			margin-right 0%
.about-block-item__icon
	display block
	width 100%
	height 90px
.about-block-item__icon.icon-1
	background url(icons/about-block-item__icon-1.png)
	background-repeat no-repeat
	background-position center center
.about-block-item__icon.icon-2
	background url(icons/about-block-item__icon-2.png)
	background-repeat no-repeat
	background-position center center
.about-block-item__icon.icon-3
	background url(icons/about-block-item__icon-3.png)
	background-repeat no-repeat
	background-position center center
.about-block-item__icon.icon-4
	background url(icons/about-block-item__icon-4.png)
	background-repeat no-repeat
	background-position center center
.about-block-item__icon.icon-5
	background url(icons/about-block-item__icon-5.png)
	background-repeat no-repeat
	background-position center center
.about-block-item__icon.icon-6
	background url(icons/about-block-item__icon-6.png)
	background-repeat no-repeat
	background-position center center
.about-block-item__title
	span
		color $color
		font-size 0.8rem
		display block
		margin-top 10px
	font-weight 600
	font-size 1.4em
	line-height 1
/* ------------ О поселке ------------ */

.conception
	padding-top 0px
	padding-bottom 30px
	background #e4d7c0
	text-align center
.conception__title
	text-align center
	font-size 1.5rem
	margin 0
	text-transform uppercase
	letter-spacing 2px
	color $color
.conception__text
	font-size 15px
	max-width 640px
	margin 0 auto
	strong
		font-weight 600

/* ------------ СЕО ------------ */
.seo
	padding-top 30px
	padding-bottom 30px
	text-align center
	font-size 15px
	max-width 640px
	margin 0 auto
/* ------------ Подвал ------------ */

.footer
	background $color
	height 340px
	color #fff
	position relative
.footer__phone
	font-weight 600
	&:before
		content ""
		display inline-block
		background url(icons/phone_icon.png)
		background-repeat no-repeat
		background-position center center
		width 30px
		height 30px
		vertical-align middle
		margin-right 10px
.footer__mailto
	margin-top 10px
	&:before
		content ""
		display inline-block
		background url(icons/mailto_icon.png)
		background-repeat no-repeat
		background-position center center
		width 30px
		height 30px
		vertical-align middle
		margin-right 10px
.footer__mailto-link
	text-decoration none
	color #fff
	border-bottom 1px solid rgba(255,255,255,0.4)
.footer__logo
	background url(icons/footer__logo.png)
	width 130px
	height 110px
	background-repeat no-repeat
	background-position left
	font-size 0.85rem
	padding-left 120px
	margin-top 15px
.footer-social
	position absolute
	right 17px
	top 17px
.footer-social__item
	width 30px
	height 30px
	cursor pointer
	margin-bottom 5px
.vk
	background url(icons/vk.png)
	background-repeat no-repeat
	background-position center center
.fb
	background url(icons/fb.png)
	background-repeat no-repeat
	background-position center center
.ok
	background url(icons/ok.png)
	background-repeat no-repeat
	background-position center center
.gp
	background url(icons/gp.png)
	background-repeat no-repeat
	background-position center center
.tw
	background url(icons/tw.png)
	background-repeat no-repeat
	background-position center center
.lj
	background url(icons/lj.png)
	background-repeat no-repeat
	background-position center center
.yt
	background url(icons/yt.png)
	background-repeat no-repeat
	background-position center center
.in
	background url(icons/inst.png)
	background-repeat no-repeat
	background-position center center
.footer__developer
	background url(icons/404.png)
	background-repeat no-repeat
	background-position right
	padding-right 20px
	height 45px
	width 170px
	box-sizing border-box
	font-size 0.80rem
	margin-top 30px

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  box-shadow 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
  background #fff
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.fixed-open {
 	transform: translate3d(256px, 0px, 0px);
}


/* ------------ Форма ------------ */

.popup-form
	display none
	z-index 100
	width 100%
	height 100%
	position fixed
	background $color
	padding 30px
	box-sizing border-box
.popup-form__close
	width 50px
	height 50px
	background url(icons/close.png)
	background-repeat no-repeat
	background-position center center
	margin 0 auto
	cursor pointer
.popup-form__title
	color #fff
	font-size 1.25rem
	text-transform uppercase
	font-weight 600
	text-align center
	margin-top 20px
	max-width 640px
.popup-form__description
	color #fff
	text-align center
	margin-top 20px
	max-width 640px
.popup-form form
	margin-top 30px
.popup-form__input
	border 1px solid #0d5d90
	padding 7px 15px
	width 100%
	margin-bottom 10px
	font-size 1rem
	border-radius 5px
.popup-form__textarea
	border 1px solid #0d5d90
	padding 5px 15px
	width 100%
	min-height 80px
	vertical-align top
	margin-bottom 10px
	font-size 1rem
	border-radius 5px
.popup-form__submit
	border 1px solid #fff
	background #fccd81
	border-radius 5px
	font-size 1.125rem
	width 100%
	text-transform uppercase
	font-weight 600
	color #333
	letter-spacing 1px
	padding 15px
