doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		// http://5xuo8s.axshare.com/белая_руза___главная_страница.html
		nav#menu.swipe-menu
			.swipe-menu-logo
			.swipe-menu-nav
				ul
					li.swipe-menu-nav__item
						a(href="conception.html").swipe-menu-nav__link Концепция поселка
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link Рядом
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link Проекты домов
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link План поселка
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link Акции
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link Новости
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link Документы
					li.swipe-menu-nav__item
						a(href="").swipe-menu-nav__link Контакты
			.swipe-menu-info Коттеджный поселок «Белая Руза» Новорижское шоссе, 65 км от МКАД
			.swipe-menu-contact
				.swipe-menu-contact__phone
				.swipe-menu-contact__message

		section.popup-form
			.popup-form__close
			.popup-form__title Будьте в курсе событий о вашем доме
			form(action="/")
				input(type="text" placeholder="Ваше имя").popup-form__input
				input(type="text" placeholder="Ваш телефон").popup-form__input
				input(type="textarea" placeholder="Ваш комментарий").popup-form__textarea
				button(type="submit").popup-form__submit Оставить запрос

		section.header-fixed.clearfix
			.header-fixed-burger.toggle-button-fixed
				img(src="styles/default/css/icons/burger.png").header-fixed-burger__img
			.header-fixed-logo
				a(href="/").header-fixed-logo__link
					img(src="styles/default/css/img/logo.png").header-fixed-logo__img
			.header-fixed-contact
				.header-fixed-contact__phone
					a(href="").header-fixed-contact__link
						img(src="styles/default/css/icons/header-fixed-phone.png").header-fixed-contact__img
				.header-fixed-contact__mailto
					.header-fixed-contact__link
						img(src="styles/default/css/icons/mail_icon.svg").header-fixed-contact__img
		main#panel
			section.header.layout.clearfix
				.header-adress Новорижское шоссе, <br>65 км от МКАД
				.header-logo
					a(href="/").header-logo__link
						img(src="styles/default/css/img/logo.png").header-logo__img
				.header-phone +7 (495) <nobr><strong>123-45-67</strong></nobr>
			section.subheader.layout.clearfix
				.subheader-burger.toggle-button
					img(src="styles/default/css/icons/burger.png").subheader-burger__img
				.subheader-logo
					a(href="/").sybheader-logo__link
						img(src="styles/default/css/img/belayaruza.png").subheader-logo__img
				.subheader-mailto
					a(href="").subheader-mailto__link
						img(src="styles/default/css/icons/mail_icon.svg").subheader-mailto__img
			section.conception.layout
				h2.conception__title Концепция посёлка
				.conception__text <p>Коттеджный поселок на Новой Риге «БЕЛАЯ РУЗА»</p>
				.image-slider
					img(src="http://belaya-ruza.ru/images/photo-news/kotejny_poselok_na_novorijskom_shosse_005.jpg")
					img(src="http://belaya-ruza.ru/images/photo-news/kotejny_poselok_na_novorijskom_shosse_006.jpg")
				|Охраняемый коттеджный поселок на Новой Риге создан для успешных людей, ценителей семейного отдыха в единении с природой. Все основные сотрудники и создатели коттеджного поселка имеют свои дома в черте «Белой Рузы», поэтому нам далеко не безразлично, с кем будут проводить время наши дети и кто будет жить с нами по соседству. Так же, нам не безразличны вопросы чистоты и порядка, благоустройства и комфорта проживания. Если Вы разделяете такие человеческие понятия как уют, семья, добрососедство и позитивное настроение, то мы готовы широко открыть для Вас двери! Милости просим! Мы предложим Вам цены от застройщика. Без посредников и агентств.

			section.seo.layout Коттеджный поселок на Новой Риге «Белая Руза» располагается на землях, ранее принадлежавших княжескому роду Гагариных, вплотную прилегая к исторической аллее 200-х летних сосен, посаженных по распоряжению княжны Варвары Николаевны Голицыной (жены князя) для конных прогулок. В этих великолепных местах прошло детство известных сестёр Гагариных. Одна из них в последствии стала женой «белого генерала» Михаила Дмитриевича Скобелева, участника Русско-турецкой

			section.footer.layout.cleaefix
				.footer__phone +7 (495) 123-45-67
				.footer__mailto
					a(href="").footer__mailto-link Напишите нам
				.footer__logo Коттеджный поселок «Белая Руза» Новорижское шоссе, 65 км от МКАД © 2016
				.footer-social
					.footer-social__item.vk
					.footer-social__item.fb
					.footer-social__item.ok
					.footer-social__item.gp
					.footer-social__item.tw
					.footer-social__item.lj
					.footer-social__item.yt
					.footer-social__item.in
				.footer__developer Создание сайта: «Студия 404»



		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="styles/default/js-libs/slideout/slideout.js")
		script(src="styles/default/js-libs/owl-carousel/owl.carousel.js")
		script(src="styles/default/js/main.js")


