doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		// includes/swipe-menu
		include includes/swipe-menu
		// includes/popup-form
		include includes/popup-form
		// includes/header-fixed
		include includes/header-fixed
		main#panel
			// includes/header
			include includes/header
			// includes/project-subheader
			include includes/project-subheader
			.page.layout
				h2 Байкал
				| Дома по данному проекту построены в прямой и зеркальной планировке, как из блоков, так и по канадской технологии
				.image-slider
					img(src="http://belaya-ruza.ru/assets/components/phpthumbof/cache/kottejniy_poselok_na_novoy_rige_belaya_ruza_proekt_baykal-012.f4b021cc3f42e060889946e094f8aef520.jpg")
					img(src="http://belaya-ruza.ru/assets/components/gallery/connector.php?action=web/phpthumb&ctx=web&w=750&h=800&zc=1&far=&q=90&src=%2Fassets%2Fgallery%2F7%2F31.jpg")
				table
					tr
						td Площадь дома:
						td 81 м<sup>2</sup>
					tr
						td Тип фундамента:
						td ж/б плита
					tr
						td Количество этажей:
						td 1
					tr
						td Количество спален:
						td 3
					tr
						td Всего комнат:
						td 4
					tr
						td Спальни на обоих этажах:
						td -
					tr
						td Полноценная высота:
						td 3 м
					tr
						td Евростудия*:
						td +
					tr
						td Выход из кухни на террасу:
						td +
					tr
						td Встроенная зона барбекю:
						td +
					tr
						td Электропроводка:
						td по желанию
					tr
						td Система отопления:
						td по желанию
					tr
						td Канализация:
						td по желанию
					tr
						td Вывод кондиционеров:
						td +
					tr
						td SAT в каждой комнате:
						td +
					tr
						td Котельная:
						td доп.услуга
					tr
						td Ниши под шкафы и купе:
						td +
				| <em>* Под Евростудией понимается кухня, совмещенная с гостиницей</em>
				a(href="#")
					button Скачать спецификацию PDF
				h3 Поэтажные планы
				img(src="http://belaya-ruza.ru/images/projects/baykal/kottejniy_poselok_na_novoy_rige_belaya_ruza_plan_baykal-001.jpg")
				| <p><strong>Проект дома &laquo;Байкал-1&raquo;</strong> (базовый). <br>План первого этажа</p>
				// includes/share
				include includes/share
				h3 Дома по проекту
				.houses-item.clearfix
					.houses-item__thumbnail
						a(href="")
							img(src="styles/default/css/img/houses-item-1.png").houses-item__img
						.houses-item__payment Рассрочка - 10 лет
						.houses-item__area 81<span>м<sup>2</sup></span>
					.houses-item__info
						.houses-item__title Владение 89
						.houses-item__price 5 600 000&nbsp;<span>a</span>
					.houses-item__sector Участок 11,34 соток
				button.houses__button Показать еще
				h4 Коттеджный поселок на Новой Риге «Белая Руза»
				| Представляет эксклюзивный проект дома «Байкал», спроектированный в общем дизайн стиле поселка. <p>При необходимых габаритах, дом имеет абсолютно аналогичные преимущества, как и другие дома нашего коттеджного поселка.</p> <p>Спальни на первом этаже с высотой потолков 3м придутся по вкусу людям в возрасте или молодым мамам; увеличенная кухня с выходом прямо на крытую террасу со встроенной зоной барбекю; удобные ниши под шкафы купе; отдельную котельную; просторный санузел и другие современные решения.</p> <p>По Вашему желанию, коттедж может быть снабжен полным набором систем для постоянного комфортного проживания.</p>
			// includes/footer
			include includes/footer

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="styles/default/js-libs/slideout/slideout.js")
		script(src="styles/default/js-libs/owl-carousel/owl.carousel.js")
		script(src="styles/default/js/main.js")
